<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity configSource="Unity.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="FileDirectory" value="D:\Work\MazePuzzleSolver"/>
    <add key="wallIndicator" value="#"/>
    <add key="WayIndicator" value=" "/>
    <add key="StartIndicator" value="S"/>
    <add key="TargetIndicator" value="F"/>
    <add key="SolutionIndicator" value="-"/>-->
    <add key="FilePath" value="MazeConsoleApp\MazeAlgorithm\Sample Maze\Maze1.txt" />
    <!--<add key="FilePath" value="D:\New folder (2)\MazeConsoleApp\MazeAlgorithm\Sample Maze"/>-->

  </appSettings>
</configuration>