<?xml version="1.0" encoding="utf-8"?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="IMazeGenerator" type="Vital.Games.IMazeGenerator, Vital.Games" />
    <typeAlias alias="IMazeSolver" type="Vital.Games.IMazeSolver, Vital.Games" />
    <typeAlias alias="Maze" type="Vital.Games.Maze, Vital.Games" />
    <typeAlias alias="IMazeFactory" type="Vital.Games.IMazeFactory, Vital.Games" />
    <typeAlias alias="IMazeGame" type="Vital.Games.IMazeGame, Vital.Games" />
  </typeAliases>
  <container>
    <types>
      <type type="IMazeGame" mapTo="Vital.Games.MazeGame, Vital.Games">
        <lifetime type="singleton" />
      </type>
      <type type="IMazeFactory" mapTo="Vital.Games.Console.ConsoleMazeFactory, Vital.Games.Console">
        <lifetime type="singleton" />
      </type>
      <type type="IMazeGenerator" mapTo="Vital.Games.FileMazeGenerator, Vital.Games">
        <lifetime type="singleton" />
      </type>
      <type type="IMazeSolver" mapTo="Vital.Games.MazeSolver, Vital.Games">
        <lifetime type="singleton" />
      </type>
      <type type="Maze" mapTo="Vital.Games.Console.ConsoleMaze, Vital.Games.Console">
        <lifetime type="singleton" />
      </type>
    </types>
  </container>
</unity>